/Sem 1/Programming in Java/Notes/JavaFX Projects/JavaFXTest/nbproject/private/
/Sem 1/Programming in Java/Notes/JavaFX Projects/JavaFXTest/build/
/Sem 1/Programming in Java/Notes/JavaFX Projects/Adding Label/nbproject/private/
/Sem 1/Programming in Java/Notes/JavaFX Projects/Adding Label/build/
/Sem 1/Programming in Java/Notes/JavaFX Projects/LabelTest/nbproject/private/
/Sem 1/Programming in Java/Notes/JavaFX Projects/LabelTest/build/
/Sem 1/Programming in Java/Notes/JavaFX Projects/ShapesandStuff/nbproject/private/
/Sem 1/Programming in Java/Notes/JavaFX Projects/ShapesandStuff/build/
/Sem 1/Programming in Java/Notes/JavaFX Projects/BasicButton/nbproject/private/
/Sem 1/Programming in Java/Notes/JavaFX Projects/BasicButton/build/
