/Sem 1/Programming in Java/Notes/JavaFX Projects/JavaFXTest/nbproject/private/
/Sem 1/Programming in Java/Notes/JavaFX Projects/JavaFXTest/build/
/Sem 1/Programming in Java/Notes/JavaFX Projects/Adding Label/nbproject/private/
/Sem 1/Programming in Java/Notes/JavaFX Projects/Adding Label/build/
/Sem 1/Programming in Java/Notes/JavaFX Projects/LabelTest/nbproject/private/
/Sem 1/Programming in Java/Notes/JavaFX Projects/LabelTest/build/
/Sem 1/Programming in Java/Notes/JavaFX Projects/ShapesandStuff/nbproject/private/
/Sem 1/Programming in Java/Notes/JavaFX Projects/ShapesandStuff/build/
/Sem 1/Programming in Java/Notes/JavaFX Projects/BasicButton/nbproject/private/
/Sem 1/Programming in Java/Notes/JavaFX Projects/BasicButton/build/
/Sem 1/Programming in Java/Notes/JavaFX Projects/Calculator/nbproject/private/
/Sem 1/Programming in Java/Notes/JavaFX Projects/Calculator/build/
/Sem 1/Programming in Java/Notes/JavaFX Projects/Calculator/dist/
/Sem 1/Programming in Java/Notes/JavaFX Projects/SimpleThings/nbproject/private/
/Sem 1/Programming in Java/Notes/JavaFX Projects/JavaApplication8/nbproject/private/
/Sem 1/Programming in Java/Notes/JavaFX Projects/JavaApplication8/build/
/Sem 1/Programming in Java/Notes/JavaFX Projects/SimpleThings/build/
/Sem 1/Programming in Java/Notes/JavaFX Projects/JavaFXwithmaven/target/
/Sem 1/Programming in Java/Notes/JavaFX Projects/JSPClassPrograms/target/
/Sem 1/Programming in Java/Notes/JavaFX Projects/FarenheightToCelcius/target/
/Sem 1/Programming in Java/Notes/JavaFX Projects/VITRegistration/target/
/Sem 1/Programming in Java/Notes/JavaFX Projects/VITEEERank/target/
/Sem 1/Programming in Java/Notes/JavaFX Projects/SearchSubjectJSP/target/
/Sem 1/Programming in Java/Notes/JavaFX Projects/WaterHardness/target/
/Sem 1/Programming in Java/Notes/JavaFX Projects/CalcSlope/target/
/Sem 1/Programming in Java/Notes/JavaFX Projects/EmployeeDetails/target/
/Sem 1/Programming in Java/Notes/JavaFX Projects/EligibleToVote/target/
/Sem 1/Programming in Java/Notes/JavaFX Projects/JobPortal/target/
